<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title> {{ page.title }} </title>
    <meta name = "description" content = "California based designer | Web development, Photography, Leathercraft and other projects">
    <meta name = "author" content = "Brent Bender">
    <link rel = "stylesheet" href = "/css/slideshow.css">
    <link rel = "stylesheet" type="text/css" href="/css/main.css">
    <link rel = "stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>

<!-- Header -->
    <header class="primary-header" role="banner">

      <h1 class="logo">
        <a href="index.html">Brent <br> Bender</a>
      </h1>
      <nav class="navbar" role="navigation">
        <a href="index.html">Home</a>
        <a href="webdesign.html">Web Design</a>
        <a href="leather.html">Leather Design</a>
        <a href="photos.html">Photography</a>
        <a href="projects.html">Other Projects</a>
      </nav>
    </header>
    
    {{ content }} 
    
<!-- Footer -->

<footer class="footer" role="contentinfo">

	<small>&copy; Brent Bender</small>
	<nav class="nav">
		<a href="index.html">Home</a>
		<a href="webdesign.html">Web Design</a>
		<a href="leather.html">Leather Design</a>
		<a href="photos.html">Photography</a>
		<a href="projects.html">Other Projects</a>
		</nav>
</footer>

</body>
</html>
